@model receitasall.Models.Author

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meu Perfil de Autor</h2>
@if (!ViewBag.HasAuthor)
{
    <h1>
        Ainda não ativou sua conta de autor.
        @Html.ActionLink("Ativar conta", "Create", "Authors")
    </h1>
}

@if (ViewBag.HasAuthor)
{
    <div>
        <h4>Autor</h4>
        <hr />

        <div class="author-image-profile-wrapper">
            @if (Model.Image != null && !string.IsNullOrEmpty(Model.Image))
            {
                <img class="author-image-profile" src="@Model.Image" alt="imagem do autor">
            }
            else
            {
                <img class="author-image-profile" src="~/Images/author-default.png" alt="imagem do autor">
            }
        </div>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nacionality)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionality)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Bibliography)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bibliography)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pseudonym)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pseudonym)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailContact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailContact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

        </dl>


        @Html.ActionLink("Editar", "Edit", "Authors")
    </div>
}

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
